@import 'assets/css/variables.css';

.container:hover {
  opacity: 0.8;
}

.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
}

:global(.enable-focus) :global(.button:focus) + .backdrop {
  right: -2px;
  left: -2px;
  background-color: color(var(--color-accent-1) a(10%));
}

/* START .button-neutral */
:global(.button-neutral) + .backdrop {
  /* border: 1px solid var(--c-border);
  background-color: var(--neutral-1);
  box-shadow: 0 2px 3px var(--c-shadow); */
}

:global(.button-neutral:active) + .backdrop {
  /* box-shadow: none; */
}

:global(.enable-focus) :global(.button-neutral:focus) + .backdrop {
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  padding: 1px;
  /* border: 1px solid var(--highlight-1);
  background-color: var(--neutral-1); */
  background-clip: content-box;
}
/* END .button-neutral */

/* START .button-highlight */
:global(.button-highlight) {
  /* color: var(--neutral-0); */
}

:global(.button-highlight) + .backdrop {
  /* border: 1px solid var(--c-border);
  background-color: var(--highlight-1);
  box-shadow: 0 2px 3px var(--c-shadow); */
}

:global(.button-highlight:active) + .backdrop {
  /* box-shadow: none; */
}

:global(.enable-focus) :global(.button-highlight:focus) + .backdrop {
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  padding: 1px;
  /* border: 1px solid var(--highlight-1);
  background-color: var(--highlight-1); */
  background-clip: content-box;
}
/* END .button-highlight */
