@import 'assets/css/variables.css';

.backdrop {
  border: 1px solid currentColor;
}

:global(textarea:focus) + .backdrop {
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border: 2px solid currentColor;
}

textarea:-webkit-autofill + .backdrop {
  background-color: yellow;
}
