@import 'assets/css/variables.css';

.link {
  color: inherit;
  text-decoration: none;
}

.link:focus {
  outline: 0;
}

.backdrop {
  left: -1px;
  right: -1px;
  border-bottom: 1px solid currentColor;
}

:global(.with-focus-ring) .link:focus + .backdrop,
.container:hover .backdrop {
  bottom: -1px;
  border-bottom: 2px solid currentColor;
}
